<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Products</title>
<style>
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
 
}
h1{
    font-weight: 1500;
    color: rgb(3, 93, 79);
    margin-top: 10px;
    margin-bottom: 10px;
}
#newPro{
    position: fixed;
    top: 6px;
    width: 75px;
    height: 25px;
    font-size: 15px;
    border-radius: .5vh;
}
#back{
    margin: 3px;
    width: 80px;
    height: 25px;
    border-radius: 0vh 1.4vh;
}
#cont{
    background-color: rgb(255, 225, 225);
    min-height: 100vh;
    max-width: 500px;
    padding: 5px;
    margin: auto;
    position: relative;
}
#cont1{
    margin-bottom: 20px;
}
#cont2{
    background-color: rgb(198, 203, 208);
    width: 70%;
    margin: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vh 2vh 0vh 0vh;
}
#serch{
    border: none;
    width: 80%;
    height: 78%;
    border-radius: 4vh;
    padding-left: 8px;
}
#display{
     width: 70%;
     height: 200px;
     overflow: scroll;
     background-color: rgb(222, 227, 232);
     margin: auto;
     display: none; 
     transition: all 1s linear 0s;
     border-radius: 0vh 0vh 2vh 2vh;
} 
#sno{
    width: 8vw;
    text-align: left;

}
#name{
    width: 32vw;
    text-align: left;
    word-break: break-all;
}
#price{
    width: 16vw;
    text-align: left;
}
#qun{
    width: 18vw;
    text-align: left;
}
#pic{
    width: 22vw;
    text-align: center;
}
tbody tr td{
    vertical-align:top;
}
</style>
</head>
<body>
    <div id="cont">
        <button id="back"> Back</button>
        <h1><i>MY PRODUCTS</i></h1>
        <button id="newPro">New Pro</button>
        <div id="cont1">
            <div id="cont2"><input id="serch"type="string"placeholder="serch😊">
            </div>
            <div id="display"></div>
        </div>
        <table>
            <thead>
                <tr>
                    <th id="sno">No.</th>
                    <th id="name">productName</th>
                    <th id="price">price</th>
                    <th id="qun">quantity</th>
                    <th id="pic">pic</th>
                </tr>
            </thead>
            <tbody>
                    <% allPro.forEach((i,j)=> {%>
                    <tr style="height: 105px;">
                        <td><%= j+1 %>.</td>
                        <td><%= i.productName %></td>
                        <td><%= i.price %></td>
                        <td><%= i.quantity %></td>
                        <td><img width="100px"style="border-radius:5%"src=<%= i.pic %>></td>
                   </tr>
                    <%                       
                    });
                    %>
            </tbody>
        </table>
    <hr><hr><h2><i>Total collection is =&nbsp</i></h2><hr><hr><hr><hr><hr><hr>
    <hr>
    </div>
<script>
let newPro=document.querySelector("#newPro");
let back=document.querySelector("#back");
let serch=document.querySelector("#serch");
let display=document.querySelector("#display");
let h2=document.querySelector("h2 i");
let allPro=JSON.parse(`<%- JSON.stringify(allPro)%>`);
serch.addEventListener("keyup",()=>{
    display.style.display="block";
    let aim=serch.value;
    let newallPro=allPro.filter((i)=>{
        return i.productName.includes(aim);
    });
     if(aim!="" && newallPro.length==0)
     {
        display.innerHTML="<h3>Not Found</h3>";
     }
     else if(aim=="" && allPro.length==newallPro.length)
     {
         display.innerHTML="<h3>Inter product Name</h3>";
     }
     else
     {
        display.innerHTML=`
                 ${newallPro.map((i)=>{
               return `<h3>&nbsp⁎&nbsp${i.productName}&nbsp-&nbsp${i.price}&nbsp-&nbsp${i.quantity}</h3>`;
               })}        
        `;
     }
});
let a=window.innerWidth;
let rect=document.querySelector("#cont").getBoundingClientRect();
let b=rect.width;
let ans=(a-b)/2+2;
newPro.style.right=ans+"px"; 
window.addEventListener("resize",()=>{
    a=window.innerWidth;
    rect=document.querySelector("#cont").getBoundingClientRect();
    b=rect.width;
    ans=(a-b)/2+2;
    newPro.style.right=ans+"px";
});
window.addEventListener("scroll",()=>{
    display.style.display="";
});
let ttl=0;
for(i of allPro){
   ttl+=i.price*i.quantity;
};
h2.innerText=h2.innerText+ttl+"   Rs";
newPro.addEventListener("click",()=>{
    window.location.href="/newPro.ejs";
});
back.addEventListener("click",()=>{
    window.location.href="/index.html";
});
</script>
</body>
</html>
